<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/e56f39fc5b.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>About</title>
</head>

<body>
    <div class="header">
        <a href="/"><h1>Financial Literacy for Future Achievers</h1> </a>
        <p>Reach the youth. Change the narrative. </p>
    </div>
    <div class="navbar">
        <a href="/about">About</a>
        <a href="/blueprint">Blueprint</a>
        <a href="archives.html">Archives</a>
        <a href="/contact">Contact us</a>
        <a href="#"><i class="fas fa-search"></i></a>

    </div>
    <div>
        <h3>About us</h3>

    </div>
    <div class="socialmedia">
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
    </div>

    <div class="about-container">

        <div class="about-column">
            <p>In my community and many others, financial literacy has never been considered a requirement in schools. Grades K-12
                cover your typical range of topics over the years and somehow, one topic that you never have to question whether or not you will
                use in real life just never makes it to curriculums. Here at Financial Literacy for Future Achievers, we
                would love to see a personal finance requirement become a reality but until then, we will push this
                information to as much of the local youth as we can. Our target audience is middle and high school aged students with a
                preference for seniority. The older the student, the more we want to have an impact before they start
                possibly taking on adult responsibilities. See our contact page and don't hesitate to reach out with any
                comments or questions. </p>
            <h3>It shouldn't feel like a secret or a foreign language</h3>
            <p>The knowledge is there for you and anyone else that wants to learn. It's not an exclusive club for high
                IQs and big bank accounts only. It's a simple life skill. It's time to change the narrative that financial literacy isn't for adults from all classes and backgrounds.  </p>

            <h3>You don't have to wait until you're going through a crisis</h3>
            <p>Many people will not be inspired until there is a financial crisis that forces them to take action and
                educate themselves. Others will wait until personal financial issues hit them to take action. We are
                here to
                make sure you step into the next phase of your life prepared, before your first crisis, negotation,
                loan,
                etc. Start while your slate is clean. </p>
        </div>

        <div class="about-column2">
            <img src="./images/learn.png" width="500" height="400" alt="learn">
            <img src="./images/invest.png" width="500" height="400" alt="invest">

        </div>




    </div>
    <div class="footer">
        <h6>Copyright 2020 Financial Literacy for Future Achievers. All Rights Reserved. </h6>
    </div>
</body>

</html>