<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/e56f39fc5b.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Archives</title>
</head>

<body>
    <div class="header">
        <a href="/"><h1>Financial Literacy for Future Achievers</h1> </a>
        <p>Reach the youth. Change the narrative. </p>
    </div>
    <div class="navbar">
        <a href="/about">About</a>
        <a href="/blueprint">Blueprint</a>
        <a href="/archives">Archives</a>
        <a href="/contact">Contact us</a>
        <a href="#"><i class="fas fa-search"></i></a>

    </div>

    <h3>The Archives</h3>
    <div class="socialmedia">
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
    </div>

    <div class="archives-container">
        <div class="archives-column">

            <img src="./images/archives.png" width="345" height="110" alt="archives">

            <p>All content ever, listed in reverse chronological order.</p>

            <p><a href="https://www.liveabout.com/what-should-you-do-after-high-school-3196641"><p>Life after graduation</p> </a></p>

            <p><a href="https://www.nytimes.com/article/coronavirus-stimulus-package-questions-answers.html"><p>Stimulus checks explained</p></a></p>

            <p><a href="https://www.iheart.com/content/2020-05-01-savings-rate-hits-its-highest-level-since-1981-amid-coronavirus-pandemic/"><p>Savings rate hits highest level since 1981</p></a></p>

            <p><a href="https://www.investopedia.com/terms/p/paycheck-to-paycheck.asp"><p>Living paycheck to paycheck</p></a></p>

            <p><a href="https://www.hu-friedy.com/blog/best-practices-for-hand-hygiene-and-using-face-masks"><p>Wash your hands, wear a mask. Health is wealth </p> </a></p>

            <p><a href="https://www.thebalance.com/before-you-get-an-auto-loan-315589"><p>Car loans: what you need to know</p></a></p>

            <p><a href="https://www.nerdwallet.com/blog/loans/student-loans/6-things-to-know-about-student-loans-before-freshman-year/"><p>Student loans: what you need to know</p></a></p>

            <p><a href="https://www.experian.com/blogs/ask-experian/credit-education/score-basics/what-affects-your-credit-scores/"><p>Good credit</p></a></p>

            <p> <a href="https://www.businessinsider.com/personal-finance/how-to-save-money-as-a-teenager"><p>Save it</p></a></p>

            <p><a href="https://www.bostonglobe.com/metro/2017/12/11/that-was-typo-the-median-net-worth-black-bostonians-really/ze5kxC1jJelx24M3pugFFN/story.html"><p>Black Boston</p></a></p>

            <p><a href="https://www.debt.org/faqs/americans-in-debt/"><p>A debtors society</p></a></p>


        </div>
        <div class="archives-column2">

        </div>
    </div>
    <div class="footer">
        <h6>Copyright 2020 Financial Literacy for Future Achievers. All Rights Reserved. </h6>
    </div>
</body>

</html>