<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/e56f39fc5b.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Contact us</title>
</head>

<body>
    <div class="header">
        <a href="/"><h1>Financial Literacy for Future Achievers</h1> </a>
        <p>Reach the youth. Change the narrative. </p>
    </div>
    <div class="navbar">
        <a href="/about">About</a>
        <a href="/blueprint">Blueprint</a>
        <a href="/archives">Archives</a>
        <a href="/contact">Contact us</a>
        <a href="#"><i class="fas fa-search"></i></a>

    </div>
    <h3>Contact us</h3>
    <div class="socialmedia">
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
        <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
    </div>

    <div class="contact-container">

        <div class="contact-column">


            <p> Sometimes google or reading alone won't do you justice and you want a person to speak with. Recognizing
                this, student
                mentoring is offered to those that would like 1 on 1 help. We are currently limited on our number of
                mentors and require that you contact us to make an appointment ahead of time to confirm availability for
                in person mentoring or voice/video calls. If you simply have a quick question, we'll be in touch
                primarily through email. </p>

            <p> Fill out the form below and we'll be in touch as soon as possible. </p>

            <div class="form2-border">
                <form action="/addContact" method="POST">
                    <div class="fname-container">
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" name="fname" value=""><br>

                    </div>
                    <div class="lname-container">
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" name="lname" value=""><br><br>

                    </div>
                    <div class="email-container">
                        <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email" value=""><br><br>

                    </div>
                    <div class="phone-container">
                        <label for="pnumber">Phone Number:</label><br>
                        <input type="text" id="pnumber" name="pnumber" value=""><br><br>

                    </div>
                    <div class="subject-container">
                        <label for="message">Subject:</label><br>
                        <input type="text" id="message" name="message" value=""><br><br>

                    </div>

                    <input type="submit" value="Submit">
                </form>

            </div>



        </div>
        <div class="contact-column2">

        </div>

    </div>
    <div class="footer">
        <h6>Copyright 2020 Financial Literacy for Future Achievers. All Rights Reserved. </h6>
    </div>
</body>

</html>