<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/e56f39fc5b.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Home</title>
</head>

<div class="page-container">

    <body>
        <div class="header">
            <a href="/">
                <h1>Financial Literacy for Future Achievers</h1>
            </a>
            <p>Reach the youth. Change the narrative. </p>
        </div>

        <div class="navbar">
            <a href="/about">About</a>
            <a href="/blueprint">Blueprint</a>
            <a href="/archives">Archives</a>
            <a href="/contact">Contact us</a>
            <a href="#"><i class="fas fa-search"></i></a>

        </div>
        <div class="socialmedia-index">
            <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
        </div>

        <div class="container">
            <div class="column-1">
                <h3>Recent Posts</h3>

                <a href="https://www.liveabout.com/what-should-you-do-after-high-school-3196641">
                    <p>Life after graduation</p>
                </a>
                <img src="./images/grad-pic.png" width="275" height="200" alt="grad">
                <a href="https://www.nytimes.com/article/coronavirus-stimulus-package-questions-answers.html">
                    <p>Stimulus checks explained</p>
                </a>
                <img src="./images/stimulus-money.png" width="275" height="200" alt="stimulus">
                <a
                    href="https://www.iheart.com/content/2020-05-01-savings-rate-hits-its-highest-level-since-1981-amid-coronavirus-pandemic/">
                    <p>Savings rate hits highest level since 1981</p>
                </a>
                <img src="./images/savings-rate.png " width="275" height="200" alt="saving">
                <a href="https://www.investopedia.com/terms/p/paycheck-to-paycheck.asp">
                    <p>Living paycheck to paycheck</p>
                </a>
                <img src="./images/shopping.png" width="275" height="200" alt="spending">
                <a href="https://www.hu-friedy.com/blog/best-practices-for-hand-hygiene-and-using-face-masks">
                    <p>Wash your hands, wear a mask. Health is wealth </p>
                </a>
                <img src="./images/covid-19.png" width="275" height="200" alt="covid-19">


            </div>

            <div class="column-2">
                <p2><b>literacy </b>[ lit-er-uh-see ]</p2>
                <i>
                    <p2>noun</p2>
                </i>

                <ol>
                    <li>the quality or state of being literate, especially the ability to read and write.</li>
                    <li>possession of education:
                        <i>to question someone's literacy.</i></li>
                    <li>a person's knowledge of a particular subject or field:
                        <i>to acquire computer literacy;
                            improving your financial literacy.</i></li>
                </ol>

                <img src="./images/road.png" width="275" height="1100" alt="roadToLiteracy">
            </div>

            <div class="column-3">
                <h4>Trending Posts</h4>

                <a href="https://www.thebalance.com/before-you-get-an-auto-loan-315589">
                    <p>Car loans: what you need to know </p>
                </a>
                <img src="./images/first-car.png" width="275" height="200" alt="car">
                <a
                    href="https://www.nerdwallet.com/blog/loans/student-loans/6-things-to-know-about-student-loans-before-freshman-year/">
                    <p>Student loans: what you need to know</p>
                </a>
                <img src="./images/student-loans.png" width="275" height="200" alt="loans">
                <a
                    href="https://www.experian.com/blogs/ask-experian/credit-education/score-basics/what-affects-your-credit-scores/">
                    <p>Good credit</p>
                </a>
                <img src="./images/credit-card.png" width="275" height="200" alt="credit">
                <a href="https://www.businessinsider.com/personal-finance/how-to-save-money-as-a-teenager">
                    <p>Save it</p>
                </a>
                <img src="./images/save.png" width="275" height="200" alt="save">
                <a href="https://www.debt.org/faqs/americans-in-debt/">
                    <p>A debtors society</p>
                </a>
                <img src="./images/debt.png" width="275" height="200" alt="debt">

            </div>
        </div>
        <div class="footer">
            <h6>Copyright 2020 Financial Literacy for Future Achievers. All Rights Reserved. </h6>
        </div>
    </body>


</div>


</html>